<center><img src="https://i.imgur.com/zRrFdsf.png" width="700"></center>

## Exercises:

The CIA has several indicators for world countries:

- See [here](https://www.cia.gov/the-world-factbook/references/guide-to-country-comparisons).

Review the topics related to cleaning discussed in class, and see what may be need to clean this indicator from the CIA:

- [Carbon dioxide emissions](https://www.cia.gov/the-world-factbook/field/carbon-dioxide-emissions/country-comparison).

You  need to make sure you have installed:

* pandas
* html5lib
* lxml
* beautifulsoup4 (or bs4)

You can use **pip show** to verify (for instance, _pip show pandas_). If you have all of them, run this code to get the data:

In [42]:
#!pip install html5lib

Defaulting to user installation because normal site-packages is not writeable
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\envs\ippe24\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\envs\ippe24\lib\site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [2]:
# read web table into pandas DF
import pandas as pd


ciaLink1='https://www.cia.gov/the-world-factbook/field/carbon-dioxide-emissions/country-comparison'
carbon=pd.read_html(ciaLink1, # link
                        header=0, # where is the header?
                        flavor='bs4')[0] # and which table?

In [6]:
carbon=pd.read_html(ciaLink1, # link
                        header=0, # where is the header?
                        flavor='bs4')[0] # and which table?
carbon

,Rank,Country,metric tonnes of CO2,Date of Information
0,1,China,13506000000,2022 est.
1,2,United States,4941000000,2022 est.
2,3,India,2805000000,2022 est.
3,4,Russia,1840000000,2022 est.
4,5,Japan,1049000000,2022 est.
...,...,...,...,...
213,214,Montserrat,26000,2022 est.
214,215,"Saint Helena, Ascension, and Tristan da Cunha",13000,2022 est.
215,216,Antarctica,12000,2022 est.
216,217,Niue,8000,2022 est.
217,218,Northern Mariana Islands,0,2019 est.

In [7]:
# also
carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  218 non-null    int64
 1   Country               218 non-null    object
 2   metric tonnes of CO2  218 non-null    int64
 3   Date of Information   218 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.9+ KB

In [8]:
# frequency table
carbon['Date of Information'].value_counts()

Date of Information
2022 est.    215
2012 est.      1
2017 est.      1
2019 est.      1
Name: count, dtype: int64

Complete the tasks requested:

1. Keep all the columns but _Rank_.
    * Tip: use [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html), [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html), and [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) for the same purpose (three ways to accomplish the task).
2. Rename the column names for easier understanding.
    * Tip: Use [rename](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html).
3. Make sure the cells with text does not have neither trailing nor leading spaces.
    * Tip: use [strip](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.strip.html).
4. Detect the presence of symbols in the numeric data that are not numeric or point.
    * Tip: Use [contains](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html).
5. Make sure there are no spaces as part of the column names.
    * Tip: use [replace](https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html).
6. Keep only the year value in the column *carbon_date*.
    * Tip: use [extract](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.extract.html).

When all tasks are done, create a folder **data** inside the current folder, and save the cleaned file like this:

In [9]:
# import os
# carbonCleaned.to_csv(os.path.join("data","carbonCleaned.csv"),index=False)
carbon.iloc(Rank)

NameError: name 'Rank' is not defined

- Exercise 2: Scrape the data on [Revenue from forest resources](https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison).

Complete the same tasks requested in the previous exercise.
When all tasks are done, save the cleaned file inside your **data** folder:

In [ ]:
# import os

# forestCleaned.to_csv(os.path.join("data","forestCleaned.csv"),index=False)